.item--card {
    background-color: rgba(46, 196, 182, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
}
.item--card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
.item--card--unavailable {
    background-color: rgba(46, 196, 182, .5);
    color: rgba(0, 0, 0, .5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
}

.personal--card {
    background-color: rgba(255, 191, 105, 1);
    box-shadow: 0 4px 8px 0 rgba(0 ,0, 0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
}
.personal--card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
.personal--card--unavailable {
    background-color: rgba(255, 191, 105, .5);
    color: rgba(0, 0, 0, .5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
}
.new--item {
    background-color: rgba(114, 168, 185, 1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    text-align: center;
}
.new--item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }

.edit--form {
    background-color: rgb(209, 91, 44);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem 15rem;
    padding: 2rem 1rem;
    width: 15rem;
    height: 25rem;
    text-align: center;
    
}
.edit--form:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }

.new--item--button button {
    margin-top: 50%;
    height: 10%;
}
.checkout--card {
    background-color: rgba(255, 191, 105, 1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
}
.checkout--card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
.lending--card {
    background-color: rgba(46, 196, 182, 1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
}

.lending--card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }