
/*
original background color:
background-color: rgba(203, 243, 240, 1);
*/
header {
    background-color: rgb(222, 197, 153);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    margin: 4rem 1rem;
    color: rgba(72, 70, 69, 1);
    font-family: 'Courier New', Courier, monospace;
}

.nav--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav .nav--container li {
    flex: 1;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    list-style-type: none;
    border: solid rgba(72, 70, 69, 0.534) 2px;
  }

/* .nav-link {
    background-color: rgba(31, 149, 234, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0 ,0, 0, 0.1);
    border-radius: 0.4rem;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
} */

    .nav-link {
        /* color: rgb(72 70 69); */
        color: rgba(227, 98, 114, 1);
        text-decoration: none;
        font-weight: bold;

    }
  
  .nav-link:hover {
    color: brown;
    /* background-color: rgba(31, 149, 234, 1); */
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4); */
  }

  .header--top {
      display: flex;
      justify-content: space-between;
  }

  .site-title {
      margin: 1rem 2rem;
  }

  .user--name {
      margin: 1rem 2rem;
      
  }