header {
    background-color: rgba(203, 243, 240, 0.493);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
    /* display: flex;
    flex-direction: row; */
    margin: 1rem;
}

.nav--container {
    display: flex;
    justify-content: space-around;
}

nav .nav--container li {
    flex: 1;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    list-style-type: none;
  }


  
  .nav-link:hover {
    color: brown;
  }

  .site-title {
      margin: 1rem;
  }